html {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
    background-color: white;
}

/*
.image-stuff img{
    width: 100%;
    max-width: 600px;
    background-size: cover;
    height: auto;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: inline;
}
*/

#about-body{
    margin: 25px 70px 100px 70px;
    transition: 0.25s ease;
}

.ion-navicon-round{
    font-size: 34px;
    float: right;
}

.ion-navicon-round:hover{
    cursor: pointer;
    color: orange;
}



.job-title img{
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.job-title h1{
  text-align: center;
  font-size: 40px;
  padding: 0 0 10px 0;
  border-bottom: 3px solid rgb(219,46, 32);
}

.job-title h2{
    font-size: 25px;
}

.job-summary p{
    font-size: 18px;
}

.link-logos{
  display: inline;
}
.link-logos i{
  display: inline;
  float: left;
  font-size: 34px;
  color: black;
}
.link-logos p{
  display: inline;
  float: left;
  font-size: 20px;
  padding: 10px 25px 0 10px;
  color: black;
}

/* Project stuff */
#project-body{
  margin: 0 70px 0 70px;
  transition: 0.25s ease; /* transitions */
}
.project-list{
  font-family: 'Rationale', sans-serif;
}
.project{
  margin: 10px 10px 0 0;
  display: block;
}
.project img{
  margin: 0 10px 0 0;
  height: 110px;
  display: inline;
  float: left;
}
.project-title{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.project-title h2{
  font-size: 40px;
  padding: 0 0 5px 0;
  border-bottom: 3px solid grey;
}

.project-description p{
  font-size: 18px;
}

.project-info{
  float: left;
  padding: 0 0 10px 0;
}
.project-info h5{
  font-size: 24px;
  padding: 0 0 0 0;
}

/* Sidebar stuff */
#more-info{
    color: black;
    background-color: white;
    border-left: solid 2px darkgrey;
    width: 0px;
    transition: width 0.25s ease;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.option-list{
    padding: 0 0 0 40px;
    margin: 0;
    line-height: 15px;
    font-size: 30px;
}

.option-list a{
    text-decoration: none;
    color: black;
}
.option-list a:last-child{
    color: red;
}
.option-list a:hover{
    color: orange;
}
.option-list p{
}

.options-bottom{
    position: absolute;
    bottom: 35px;
    padding: 0 0 0 40px;
    margin: 0;
    line-height: 15px;
    font-size: 20px;
}
.options-bottom a{
    text-decoration: none;
    color: black;
}
.options-bottom a:hover{
    color: orange;
}
.options-bottom p{
}

.option-list{
  margin-top: 25px;
  padding: 0 0 0 40px;
  line-height: 35px;
  font-size: 30px;
}
.option-list a:hover{
  text-decoration: none;
}
.options-bottom{
  line-height: 25px;
}
