*{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: black;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* top part mobile */
.test-hide{
  display: none;
}

#very-top{
  display: none;
  width: 100%;
  font-size: 150%;
  display: inline-block;
  border-bottom: 2px solid grey;
}
#very-top a{
  color: black;
}
#very-top i{
  font-size: 175%;
  padding: 0 3% 0 3%;
}
#very-top p{
  font-size: 140%;
  padding: 0 3% 0 3%;
}
#very-top i:active{
  color: orange;
}
#very-top p:active{
  color: orange;
}


/* ---------------- */


#about-body{
  margin: 25px 70px 100px 70px;
  transition: 0.25s ease;
  display: block;
}

#hireme-body{
  margin: 25px 70px 100px 70px;
  transition: 0.25s ease;
  display: block;
}

#graphics-body{
  margin: 25px 70px 100px 70px;
  transition: 0.25s ease;
  display: block;
}

.ion-navicon-round{
  background: none;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 40px;
  float: right;
  font-size: 250%;
}

.ion-navicon-round:hover{
  cursor: pointer;
  color: orange;
}

.job-title img{
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.job-title h2{
  font-size: 320%;
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 3px solid rgb(219,46, 32);
}

.job-title h3{
  font-size: 150%;
}

.job-summary p{
  font-size: 120%;
}

.link-logos{
  float: left;
  display: table;
}
.link-block{
  float: left;
  display: table-cell;
}
.link-block:hover{
  color: orange;
}
.link-logos i{
  display: inline;
  float: left;
  font-size: 250%;
  padding: 0;
  color: black;
}
.link-logos p{
  display: inline;
  float: left;
  font-size: 120%;
  padding: 12.5px 25px 0 10px;
  color: black;
}


/* Project stuff */
#project-body{
  margin: 0 70px 0 70px;
  transition: 0.25s ease; /* transitions */
}
.project-list{
  display: table;
  font-family: 'Rationale', sans-serif;
  margin: 0 auto;
  text-align: center;
}
.project-contain{
  margin: 0 auto;
}
.project{
  min-width: 500px; /* keeping unit together */
  margin: 10px 10px 0 0;
  display: table-cell;
  text-align: left;
}
.project img{
  padding: 0;
  margin: 0 10px 0 0;
  height: 110px;
  display: inline;
  float: left;
}
.project-title{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.project-title h2{
  font-size: 300%;
  padding: 0 0 5px 0;
  border-bottom: 3px solid grey;
}

.project-description p{
  font-size: 120%;
}

.project-info{
  float: left;
  padding: 0 0 10px 0;
}

.project-info h5{
  color: rgb(85, 85, 85);
  font-size: 150%;
  padding: 0 0 0 0;
}

.project-info h5:first-child{
  font-size: 180%;
  padding: 10px 0 0 0;
}

/* Sidebar stuff */


#more-info{
  position:fixed;
  color: black;
  background-color: white;
  border-left: solid 2px darkgrey;
  width: 0px;
  transition: width 0.25s ease;
  height: 100%;
  right: 0;
  top: 0;
}

.option-list{
    padding: 0 0 0 40px;
    margin: 0;
    line-height: 15px;
    font-size: 30px;
}
.option-list a{
    text-decoration: none;
    color: black;
}
.option-list a:hover{
    color: orange;
}
.option-list p{
}

.options-bottom{
    position: absolute;
    bottom: 35px;
    padding: 0 0 0 40px;
    margin: 0;
    line-height: 15px;
    font-size: 20px;
}
.options-bottom a{
    text-decoration: none;
    color: black;
}
.options-bottom a:hover{
    color: orange;
}
.options-bottom p{
}

.option-list{
  margin-top: 25px;
  padding: 0 0 0 40px;
  line-height: 35px;
  font-size: 30px;
}
.option-list a:hover{
  text-decoration: none;
}
.options-bottom{
  line-height: 25px;
}


@media(max-width: 840px){
  html{ font-size: 100%; }

  .test-hide{
    width: 100%;
    display: inline-block;
  }

  #very-top{
    display: inline-block;
  }

  #very-top a{
    color: black;
  }

  #very-top i, #very-top p{
    display: inline-block;;
  }

  #very-top i{
    font-size: 175%;
  }

  #about-body .ion-navicon-round{
    display: none;
  }

  #hireme-body{
    display: none;
  }

  #graphics-body{
    display: none;
  }

  .right-side{
    display: none;
  }

  .job-title img{
    max-width: 250px;
  }
  .job-title h2{
    font-size: 200%;
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 3px solid rgb(219,46, 32);
  }
  .job-title h3{
    font-size: 150%;
  }

  .project-title h2{
    font-size: 200%;
    padding: 0 0 5px 0;
    border-bottom: 3px solid grey;
  }

  .more-info{
    display: none;
  }

  .link-logos i{
    display: inline;
    float: left;
    font-size: 250%;
    padding: 0 15px 0 0;
    color: black;
  }
  .link-logos i:active{
    color: orange;
  }
  .link-logos p{
    display: none;
    font-size: 120%;
    padding: 12.5px 25px 0 10px;
    color: black;
  }

  .project-list{
    width: 100%;
    display: table;
  }
  .project{
    display: table-cell;
    min-width: 120px; /* keeping unit together */
  }
  .project img{
    padding: 10px;
    height: 25%;
    width: 120px;
    height: auto;
    display: inline;
  }
  .project-info{
    display: none;
  }
}

@media(max-width: 540px){
  html{ font-size: 85%; }

  .test-hide{
    width: 100%;
    display: inline-block;
  }

  #very-top{
    display: inline-block;
  }

  #very-top a{
    color: black;
  }

  #very-top i, #very-top p{
    display: inline-block;;
  }

  #very-top i{
    font-size: 175%;
  }

  #about-body .ion-navicon-round{
    display: none;
  }

  #hireme-body{
    display: none;
  }

  #graphics-body{
    display: none;
  }

  .right-side{
    display: none;
  }

  .job-title img{
    max-width: 200px;
  }
  .job-title h2{
    font-size: 200%;
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 3px solid rgb(219,46, 32);
  }
  .job-title h3{
    font-size: 150%;
  }

  .project-title h2{
    font-size: 200%;
    padding: 0 0 5px 0;
    border-bottom: 3px solid grey;
  }

  .more-info{
    display: none;
  }

  .link-logos i{
    display: inline;
    float: left;
    font-size: 250%;
    padding: 0 15px 0 0;
    color: black;
  }
  .link-logos i:active{
    color: orange;
  }
  .link-logos p{
    display: none;
    float: left;
    font-size: 120%;
    padding: 12.5px 25px 0 10px;
    color: black;
  }

  .project-list{
    width: 60px;
    margin: 0 auto;
  }
  .project{
    min-width: 120px; /* keeping unit together */
    margin: 0 auto;
  }
  .project img{
    padding: 10px;
    height: 25%;
    width: 120px;
    height: auto;
    display: inline;
    float: left;
  }
  .project-info{
    display: none;
  }
}
